{# Content processing macro #}
{% macro process_margin_content(content) %}
    {% set_global lines = content | split(pat="\n") %}
    {% set_global titles = [] %}
    {% set_global texts = [] %}
    {% set_global current_text = [] %}
    {% set_global in_paragraph = false %}
    
    {% for line in lines %}
        {% set_global trimmed_line = line | trim %}
        {% if trimmed_line is starting_with("##") %}
            {# If we have a previous section, save it #}
            {% if current_text %}
                {% set_global texts = texts | concat(with=[current_text | join(sep="\n")]) %}
                {% set_global current_text = [] %}
            {% endif %}
            {# Remove the ## and any extra spaces #}
            {% set_global titles = titles | concat(with=[trimmed_line | replace(from="##", to="") | trim]) %}
        {% else %}
            {% if trimmed_line %}
                {# Start a new paragraph if we're not in one #}
                {% if not in_paragraph %}
                    {% set_global current_text = current_text | concat(with=["<p>"]) %}
                    {% set_global in_paragraph = true %}
                {% endif %}
                {% set_global current_text = current_text | concat(with=[trimmed_line]) %}
            {% else %}
                {# Empty line - close paragraph if we're in one #}
                {% if in_paragraph %}
                    {% set_global current_text = current_text | concat(with=["</p>"]) %}
                    {% set_global in_paragraph = false %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    
    {# Don't forget the last section and close any open paragraph #}
    {% if in_paragraph %}
        {% set_global current_text = current_text | concat(with=["</p>"]) %}
    {% endif %}
    {% if current_text %}
        {% set_global texts = texts | concat(with=[current_text | join(sep="\n")]) %}
    {% endif %}
    
    {# Render all sections #}
    {% for i in range(end=titles | length) %}
        <div class="margin-section">
            <div class="margin-title">{{ titles[i] }}</div>
            <div class="margin-content">{{ texts[i] | safe }}</div>
        </div>
    {% endfor %}
{% endmacro %}