{% extends "section.html" %}

{% block body %}
  {% set page_class = "blog list" %}
{% endblock body %}

{% block header %}
  {% set current_section = "blog" %}
  {{ macros_header::header(current_section=current_section)}}
{% endblock header %}

{% block content %}
<div class="wrap container" role="document">
  <div class="content">
    <div class="row justify-content-center">
      <div class="col-md-12 col-lg-10 col-xxl-8">
        <article>
          {{ macros_section_card_roll::section_header(title=section.title) }}
          {{ macros_section_card_roll::card_list(pages=paginator.pages) }}
          {% if paginator.previous or paginator.next %}
            {{ macros_section_nav::navigation(paginator=paginator) }}
          {% endif %}
        </article>
      </div>
    </div>
  </div>
</div>
{% endblock content %}